{% extends 'products/base.html' %}
{% block conteudo %}
<style>
    .centralizar{
        height: 500px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
</style>
<form class="centralizar" action="{% url 'results' %}" method="POST">
    {% csrf_token %}
    <div>
        <h1 style="text-align: center;">Search</h1>
        <input type="text" class="form-control-lg" name="product" placeholder="search...">
        <input class="form-control-lg" type="submit" value="🔎">
    </div>
</form>
{% endblock %}