{% extends 'products/base.html' %}
{% block conteudo %}
<style>
    .centralizar{
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
</style>

<!-- Carousel -->
<div id="demo" class="carousel slide" data-bs-ride="carousel">

    <!-- Indicators/dots -->
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#demo" data-bs-slide-to="0" class="active"></button>
      <button type="button" data-bs-target="#demo" data-bs-slide-to="1"></button>
      <button type="button" data-bs-target="#demo" data-bs-slide-to="2"></button>
    </div>
    
    <!-- The slideshow/carousel -->
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://i.ibb.co/FKP4gwH/A1.png" alt="Buy" class="mx-auto d-block" width="1500" height="500">
      </div>
      <div class="carousel-item">
        <img src="https://i.ibb.co/w4pHtr0/A2.png" alt="Computer" class="mx-auto d-block" width="1500" height="500">
      </div>
      <div class="carousel-item">
        <img src="https://i.ibb.co/W03xZ8m/A3.png" alt="Car" class="mx-auto d-block" width="1500" height="500">
      </div>
    </div>
    
    <!-- Left and right controls/icons -->
    <button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
      <span class="carousel-control-next-icon"></span>
    </button>
  </div>

<form class="centralizar" action="{% url 'results' %}" method="POST">
    {% csrf_token %}
    <div>
        <h1 style="text-align: center;">Search</h1>
        <input type="text" class="form-control-lg" name="product" placeholder="search...">
        <input class="form-control-lg" type="submit" value="🔎">
    </div>
</form>
{% endblock %}